<!DOCTYPE html>
<html ng-app="newchicApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="keywords" content="Off Shoulder Round Neck Short Sleeve Stretch Loose T-Shirt on sale at wholesale price,Red, S, Buy best ,  at newchic.com">
    <meta name="description" content="Off Shoulder Round Neck Short Sleeve Stretch Loose T-Shirt, ">
    <title>Off Shoulder Round Neck Short Sleeve Stretch Loose T-Shirt-fashion, - newchic.com</title>
    <link rel="stylesheet" href="css/style.min.css">
   	<script src="js/angular.min.js"></script>
   	<script src="js/angular-route.js"></script>
   	<script src="js/angular-resource.js"></script>
   	<script src="js/app.js"></script>
   	<script src="js/controller.js"></script>
   	<script src="js/services.js"></script>
  </head>
  <body>
   	<div ng-view></div>
  </body>
</html>